BOT_TOKEN = "6584622321:AAEePbozHgEDHuhRd45r7NA53YgR9PagRG8"

# Sudo Users
ADMINS = "7996021540"

# Database Channel ID
CHANNEL_DB = -1003032260406

# MongoDB 
DATABASE_URL = "mongodb+srv://ravielbot:ravielbot@cluster0.dpgnchb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
DATABASE_NAME = "ravielbot"

FORCE_SUB_1 = -1002733441470
FORCE_SUB_2 = -1002902777042
# FORCE_SUB_2 ; FORCE_SUB_3 More...
